:root {
  --color-primary: #2f7e79;
  --color-success: #25a969;
  --color-warning: #ffab7b;
  --color-error: #ff383c;
  --color-info: #438883;
  --color-secondary: #666;
}

body.dark {
  --color-primary: #5fb8b2;
  --color-success: #4fd28a;
  --color-warning: #ffb985;
  --color-error: #ff6b6e;
  --color-info: #9dbbff;
  --color-secondary: #aabdba;
}
